@charset "UTF-8";
h2{
    font-size: 3.2rem;
}

/* mv */
#mv{
    height: calc(100vh - 6.5rem);
    position: relative;
    overflow: hidden;
}

#mv #video-area{
    position: absolute;
    width: 100%;
    background: white;
    top: 0;
    left: 0;
    overflow: hidden;
}

#mv #video-area #video{
    opacity: .5;
    width: 100%;
    height: auto;
}

#mv h1{
    position: absolute;
    font-family: source-han-serif-japanese, serif;
    top: 50%;
    left: 50%;
    font-size: 10.9rem;
    letter-spacing: 1rem;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-shadow: .1rem .1rem .2rem rgb(191, 172, 163);
}

#mv h1 small{
    font-size: 3.3rem;
    position: relative;
}

#mv h1 small::before{
    content: "";
    position: absolute;
    width: 22rem;
    height: .1rem;
    right: 0;
    bottom: 0;
    transform: translate(100%, -.5rem);
    background:  linear-gradient(to right, #F75D19, #DB8511, #FEFEFE);
}

/* concept */
#concept{
    width: 70.5%;
    margin: auto;
    padding-top: 15.8rem;
}

#concept figure{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#concept figure img{
    width: 73.7rem;
    margin-right: 8.8rem;
    box-shadow: 0 .3rem .6rem rgba(112, 112, 112, 44%);
}

#concept figure figcaption h2{
    margin-bottom: 6rem;
}

#concept figure figcaption p{
    line-height: 2;
}

.top_slider{
    width: 100%;
    margin-top: 10rem;
    padding-bottom: 8rem;
}

.top_slider .slide{
    margin: 0 2rem;
}

.top_slider .slide img{
    width: 40.7rem;
}

.slide-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 9.08rem;
}

.prev-arrow{
    transform: translateX(50%);
}

.next-arrow{
    transform: translateX(-150%);
}

.top_slider::before{
    position: absolute;
    content: 'SLIDE';
    font-size: 2rem;
    color: #707070;
    font-weight: 600;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
}

/* service */
#service{
    width: 70.5%;
    margin: auto;
    padding-top: 19rem;
}

#service h2{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6.8rem;
    
}

#service .wrap{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5.2rem;
}

#service .wrap li{
    width: 48.3%;
    margin-bottom: 5.4rem;
}

#service .wrap li:nth-child(odd){
    margin-right: 3.4%;
}

#service .wrap li dd img{
    width: 100%;
    box-shadow: 0 .3rem .6rem rgba(51, 51, 51, 47%);
    margin-bottom: 3rem;
}

#service .wrap li dt{
    font-size: 2.4rem;
    margin: auto;
    margin-bottom: 2.4rem;
    width: 85%;
}

#service .wrap li .content{
    font-size: 1.8rem;
    width: 85%;
    margin: auto;
}

#service .img_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8.3rem;
}

#service .img_list picture{
    width: 30.52%;
}

#service .img_list picture img{
    width: 100%;
}

/* mission */

#mission{
    padding-top: 36.2rem;
    width: 70.5%;
    margin: auto;
}

#mission h2{
    margin-left: 3.3rem;
    margin-bottom: 7.75rem;
}

#mission .wrap picture{
    margin-left: 28.4rem;
    position: relative;
    height: max-content;
}

#mission .wrap picture img{
    width: 51rem;
}

#mission .wrap picture::before{
    content: "";
    position: absolute;
    width: 47.42rem;
    height: 20.5rem;
    bottom: -5.67rem;
    left: 31.17rem;
    background: url("../img/top/mission_img02.jpg") no-repeat center center/cover;
}

#mission .wrap p{
    margin-top: 10.62rem;
    text-align: center;
}

/* info */
#info{
    padding-top: 24.7rem;
    width: 70.5%;
    margin: auto;
}

#info h2{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6.3rem;
}

#info .wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4.6rem;
}

#info .wrap .left{
    width: 25%;
}

#info .wrap .right{
    width: 35%;
}

#info .wrap .left{
    margin-right: 7.7rem;
}

#info .wrap > div div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1.2rem;
    margin-bottom: 1.3rem;
    position: relative;
}

#info .wrap > div div::before{
    content: "";
    position: absolute;
    width: 30.9rem;
    height: .1rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #F75D19, #DB8511, #FEFEFE);
}

#info .wrap > div h3{
    font-size: 1.8rem;
    color: #707070;
    width: 11.6rem;
}

/* recruit */
#recruit{
    padding-top: 19.3rem;
    width: 70.5%;
    margin: auto;
}

#recruit figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

#recruit figure picture{
    width: 50%;
    margin-right: 12.2rem;
}

#recruit figure picture img{
    width: 100%;
    box-shadow: 0 .3rem .6rem rgba(112, 112, 112, 44%);
}

#recruit figure figcaption{
    width: calc(50% - 12.2rem);
}

#recruit figure figcaption h2{
    margin-bottom: 5.3rem;
}

#recruit figure figcaption p{
    margin-bottom: 9.4rem;
}

/* contact */
#contact{
    width: 70.5%;
    margin: auto;
    padding-top: 23.9rem;
    padding-bottom: 12.4rem;
}

#contact figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

#contact figure picture{
    width: 37%;
    margin-left: 22.1rem;
}

#contact figure picture img{
    width: 100%;
}

#contact figure h2{
    margin-bottom: 6.7rem;
}

#contact figure p{
    margin-bottom: 6.8rem;
}

#contact figure .more_wrap a{
    transform: translateX(100%);
}

@media screen and (max-width: 1280px){
    #mv #video-area{
        width: auto;
        height: 100%;
        background: #b9b8b8;
    }

    #mv #video-area #video{
        width: auto;
        height: 100%;
        transform: translateX(-36%);
    }

    #info .wrap .left{
        width: 35%;
    }

    #info .wrap .right{
        width: 50%;
    }

    #info .wrap > div h3{
        width: 15rem;
    }
}

@media screen and (max-width: 767px){
    h2{
        font-size: 2.4rem;
    }

    #mv{
        height: calc(100vh - 5.2rem);
    }

    #mv #video-area{
        width: auto;
        height: 100%;
    }

    #mv #video-area #video{
        width: auto;
        height: 100%;
    }

    #mv h1{
        font-size: 5.3rem;
        letter-spacing: .5rem;
    }

    #mv h1 small{
        font-size: 1.7rem;
        letter-spacing: .2rem;
    }

    #mv h1 small::before{
        width: 10.8rem;
    }

    /* concept */
    #concept{
        padding-top: 7.7rem;
        width: 100%;
    }

    #concept h2{
        margin-bottom: 1.5rem;
        margin-left: 4.8rem;
    }

    #concept figure{
        flex-direction: column;
    }

    #concept figure img{
        width: 100%;
        margin-bottom: 3.9rem;
        margin-right: auto;
    }

    #concept figure figcaption p+p{
        margin-top: 5.9rem;
    }

    .top_slider{
        margin-top: 4.4rem;
        padding-bottom: 6.4rem;
    }
    
    .top_slider .slide{
        margin: 0 auto;
    }
    
    .top_slider .slide img{
        width: 24.5rem;
        margin: auto;
    }
    
    .slide-arrow{
        width: 5.6rem;
    }
    
    .prev-arrow{
        transform: translateX(-150%);
    }
    
    .next-arrow{
        transform: translateX(50%);
    }
    
    .top_slider::before{
        font-size: 1.4rem;
        transform: translate(-50%, 30%);
    }

    /* service */
    #service{
        padding-top: 11.2rem;
        width: 100%;
    }

    #service > picture img{
        width: 100%;
        margin-bottom: 6.3rem;
        box-shadow: 0 .3rem .6rem rgba(112, 112, 112, 33%);
    }

    #service h2{
        margin-left: 4.8rem;
        transform: none;
        margin-bottom: 4.4rem;
    }

    #service .wrap{
        flex-direction: column;
        margin-bottom: 0;
    }

    #service .wrap li dd img{
        margin-bottom: 2.2rem;
    }

    #service .wrap li{
        width: 83.47%;
        margin: auto;
        margin-bottom: 5.5rem;
    }

    #service .wrap li:nth-child(odd){
        margin-right: auto;
    }

    #service .wrap li dt{
        width: 91.37%;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    #service .wrap li .content{
        width: 91.37%;
        font-size: 1.4rem;
        line-height: 2;
    }

    .img_slider{
        width: 100%;
        margin-bottom: 5.5rem;
    }

    .img_slider .slide img{
        width: 100%;
    }

    /* mission */
    #mission{
        padding-top: 12.3rem;
        width: 100%;
        padding-bottom: 27rem;
        overflow-x: hidden;
    }

    #mission h2{
        margin-bottom: 6rem;
        margin-left: 4.9rem;
    }

    #mission .wrap{
        position: relative;
        width: 65%;
        margin: auto;
        
    }

    #mission .wrap picture{
        position: absolute;
        margin: auto;
        width: 27.4rem;
        top: 4rem;
        left: 4.3rem;
    }

    #mission .wrap picture img{
        width: 100%;
    }

    #mission .wrap picture::before{
        width: 28.1rem;
        height: 12.2rem;
        bottom: -14rem;
        left: -10.85rem;
    }

    #mission .wrap p{
        margin-top: 0;
        text-align: left;
        position: relative;
        z-index: 10;
        line-height: 2.5;
    }

    #info{
        width: 100%;
        padding-top: 7.5rem;
    }

    #info h2{
        transform: none;
        margin-left: 4rem;
        margin-bottom: 4.5rem;
    }

    #info h2::before{
        width: 25.6rem;
    }

    #info .wrap{
        flex-direction: column;
        width: 75.47%;
        margin: auto;
    }

    #info .wrap .left{
        width: 100%;
    }

    #info .wrap .right{
        width: 100%;
    }

    #info .wrap .right > div:last-child::before{
        display: none;
        margin-bottom: 5rem;
    }

    #info .wrap > div h3{
        width: 9.4rem;
        font-size: 1.4rem;
    }

    /* recruit */
    #recruit{
        padding-top: 10.7rem;
        width: 100%;
    }

    #recruit > h2{
        margin-left: 5rem;
        margin-bottom: 3.7rem;
    }

    #recruit figure{
        flex-direction: column;
    }

    #recruit figure picture{
        width: 100%;
        margin-right: auto;
        margin-bottom: 5.4rem;
    }

    #recruit figure figcaption{
        width: 100%;
    }

    #recruit figure figcaption p{
        margin: auto;
        margin-bottom: 4.4rem;
        width: 79.2%;
    }

    /* contact */

    #contact{
        width: 100%;
        padding-top: 10.4rem;
    }

    #contact h2{
        margin-bottom: 1.6rem;
        margin-left: 5rem;
    }

    #contact figure{
        flex-direction: column;
    }

    #contact figure picture{
        width: 100%;
        margin-left: auto;
        margin-bottom: 3.4rem;
    }

    #contact figure figcaption{
        width: 100%;
    }

    #contact figure p{
        width: 79.2%;
        margin: auto;
        margin-bottom: 3.3rem;
    }

    #contact figure .more_wrap a{
        transform: none;
    }
}